        <table>
            <thead>
                <tr>
	 								<th>Type</th>
									<th>Name</th>
									<th>Date</th>
									<th>Downloads</th>
									<th>Private</th>
                 </tr>
              </thead>
              <tbody>
			          <% if files.empty? %>
			            <tr><td colspan="5">There isn't any files yet.</td></tr>
			          <% else %>
			             <% files.each do |file| %>
			               <tr>
			                 <td><%= file.type_to_name%></td>
			                 <td>
													<%= link_to file.name, member_depot_file_url(file.id) %>
													<br/>
													<% tags = file.tag_list %>
				                  <b>Tags:</b>
				                  <% if !tags.blank? %>
				                    <% for tag in tags %>
				                      <%= link_to tag, tag_member_depot_files_path(tag.to_sym) %>
				                    <% end %>
				                  <% else %>
				                    No tags.
				                  <% end %>
											 </td>
			                 <td><%= file.creation_date %></td>
			                 <td><%= file.downloads if !file.folder %></td>
			                 <td><%= file.private? %></td>
			               </tr>
			             <% end %>
			          <% end %> 
        			</tbody>
        </table>
            
<div class="info_results">
  <%= will_paginate files %>
</div>
