<% content_for :sidebar do %>
	<%= link_to 'Edit', edit_member_depot_file_url(@file) %><br/>
	<%= link_to 'Delete', member_depot_file_url(@file.id), :method => :delete %><br/>
	<%= render :partial => 'quota_info' %>
<% end %>

<h1><%= @file.name %></h1>


<%= render :partial => 'add_child', :locals => {:file => @file}%>


<p>
<% tags = @file.tag_list %>
                  <b>Tags:</b>
                  <% if !tags.blank? %>
                    <% for tag in tags %>
                      <%= link_to tag, tag_member_depot_files_path(tag.to_sym) %>
                    <% end %>
                  <% else %>
                    No tags.
                  <% end %> 
</p>

  <p class="file_metadata">
   Created at: <%= @file.creation_date %><br />
	 <%unless @file.folder%>
		Size: <%= number_to_human_size(@file.file_file_size)%>
   <%end%>
   <br />
   Downloads: <%= @file.downloads %><br />
   Path: <%= path(@file, true) %><br />
   Private: <%= @file.privacy %><br />
  </p>
  <p>
   Description:<br/>
   <%= @file.description %> 
  </p>


	<%if @file.folder%>
		<%= render :partial => 'folder_content', :locals => {:files => @file.paginated_children}%>
	<%else%>
		<%= link_to "Download file",  depot_files_download_path %></h2>
	<%end%> 

 <%= render :partial => "shared/comments", :locals => { :commentable => @file } %>



